body{
    padding: 100px;
    text-align: center;
}
.input-field{
    margin: 20px 50px;
    padding:40px;
    border-radius: 20px;
    box-shadow: 3px 3px 20px 0px grey;
}
#transaction-area{
    display: none;
}
.row{
    margin: 50px 0px;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    color: white;
    border-radius: 10px;
    padding: 30px;
}
.status:hover{
    box-shadow: 5px 5px 10px grey;
    transition: box-shadow 0.2s;
}
.balance-status{
    margin: 20px;
    padding: 20px;
    border-radius: 7px;
}
/* MEDIA QUERY */
@media (max-width: 689px) {
    body{
        padding: 10px;
    }
    #login-area{
        width: 80%;
        margin: auto;
    }
    .input-field{
        width: 100%;
        padding: 10px;
        position: relative;
        left: -50px;
    }
}